@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Tusker Grotesk';
  src: url('/fonts/TuskerGrotesk-5500Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 10, 10, 10;
  --background-end-rgb: 10, 10, 10;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

@keyframes gridFade {
  0%, 100% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.3;
  }
}

.grid-animation > div {
  animation: gridFade 4s infinite;
}

.grid-animation > div > div {
  animation: gridFade 4s infinite;
  animation-delay: calc(var(--delay) * 200ms);
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.floating {
  animation: float 6s ease-in-out infinite;
}